/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");

}

div {
    background-image: linear-gradient(to bottom, #d4f1ff 80%, #0206fe 20%);
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

div svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

div img {
    position: absolute;
}

#DarkWaves {
    width: calc(100% + 40px);
    left: -40px;
}

#LightWaves {
    width: calc(100% + 40px);
    left: -40px;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

#sol {
    top: 20px;
    left: 20px;
    width: 15%;
    animation: sol 20s linear infinite;

}

#barco {
    position: absolute;
    bottom: 86px;
    right: -10px;
    display: block;
    width: 170px;
    height: auto;
    animation: barco-fluido 10s linear infinite;
}

#peces {
    width: 150px;
    position: absolute;
    right: -150px;
    bottom: 110px;
    animation: nadar 10s linear infinite;
}

#nubes {
    width: 60px;
    right: -10px;
    top: 10px;
    animation: nube 10s linear infinite;
}

@keyframes sol {
    from {
        rotate: 0deg;
        transform: scale(1);
    }

    50% {
        rotate: 180deg;
        transform: scale(1.5);
    }

    to {
        rotate: 360deg;
        transform: scale(1);
    }

}

@keyframes barco-fluido {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    45% {
        transform: translateX(-100px) rotate(-1deg);
    }

    65% {
        transform: translateX(-200px) rotate(-1deg);
    }

    80% {
        transform: translateX(-280px) rotate(0deg);
    }

    88% {
        transform: translateX(-300px) rotate(0deg);
    }

    95% {
        transform: translateX(-350px) rotate(0deg);
    }

    100% {
        transform: translateX(-500px) rotate(0deg);
    }
}

@keyframes nadar {
    10% {
        transform: translateX(0px) rotate(0deg);
    }

    30% {
        transform: translateX(-50px) rotate(10deg);
    }

    40% {
        transform: translateX(-100px) rotate(-10deg);
    }

    50% {
        transform: translateX(-130px) rotate(10deg);
    }

    60% {
        transform: translateX(-150px) rotate(-10deg);
    }

    70% {
        transform: translateX(-200px) translateY(10px) rotate(-10deg);
    }

    80% {
        transform: translateX(-300px) translateY(50px) rotate(-30deg);
    }

    100% {
        transform: translateX(-500px) translateY(800px) rotate(0deg);
    }
}

@keyframes nube {
    50% {
        transform: translateX(-300px) translateY(-15px)
    }

    100% {
        transform: translateX(-500px) translateY(15px)
    }
}